@charset "utf-8";
body { line-height: 1.5; font-family: 宋体,arial,"\5b8b\4f53"; font-size: 12px; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; /*color: #808080;*/ }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
ol, ul { list-style: none; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; *font-size: 100%; }
fieldset, img, a img, :link img, :visited img { border: 0; }
a { text-decoration: none; }
    a:hover { text-decoration: underline; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }
blockquote, q { quotes: none; }
    blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
.clear { clear: both; height: 0; overflow: hidden; display: block; }
.clearfix { *zoom: 1; }
    .clearfix:after { clear: both; height: 0; overflow: hidden; display: block; visibility: hidden; content: "."; }
.common_wrap { width: 960px; margin: 0 auto; }
.cWhite, .cWhite:visited, .cWhite a { color: #fff; }
.cYellow, .cYellow:visited { color: #ff0; }
.cGreen, .cGreen:visited { color: #008000; }
.cGray, .cGray:visited, .cGray a { color: #333; }
.cDGray, .cDGray:visited, .cDGray a { color: #727171; }
.cBlack, .cBlack:visited, .cBlack a { color: #000 !important; }
.cBlue, .cBlue:visited, .cBlue a { color: #1e50a2; }
.cRed, .cRed:visited, a.cRed,fred { color: Red !important; }
.cDRed, .cDRed:visited, .cDRed a { color: #ba2636; }
    .cRed a:hover, a.cRed:hover, .cBlue a:hover, a.cBlue:hover, .cDRed a:hover, a.cDRed:hover, .cGray a:hover, a.cGray:hover, .cDGray a:hover, a.cDGray:hover, .cWhite a:hover, a.cWhite:hover, .cBlack a:hover, a.cBlack:hover, .cGreen a:hover, a.cGreen:hover, .cYellow a:hover, a.cYellow:hover { color: #ba2636; }
.fB { font-weight: bold; }
.fI { font-style: italic; }
.f12px { font-size: 12px !important; }
.f14px { font-size: 14px !important; }
.f16px { font-size: 16px !important; }
.f18px { font-size: 18px !important; }
.f24px { font-size: 24px !important; }
.hide, .hidden { display: none; }
.fl, .left { float: left !important; display: block; }
.fr, .right { float: right !important; display: block; }

.unLine, .unLine a { text-decoration: none; }

.auto {  }
fred { font-weight: bold;}

.blank3 { clear: both; height: 3px; overflow: hidden; display: block; }
.blank6 { clear: both; height: 6px; overflow: hidden; display: block; }
.blank9 { clear: both; height: 9px; overflow: hidden; display: block; }
.blank9w { background: #fff; clear: both; height: 9px; overflow: hidden; display: block; }
.blank12 { clear: both; height: 12px; overflow: hidden; display: block; }
.blank15 { clear: both; height: 15px; overflow: hidden; display: block; }
.blank20 { clear: both; height: 20px; overflow: hidden; display: block; }

.bradius2 { border-radius: 2px; }
.bradius3 { border-radius: 3px; }
.bradius5 { border-radius: 5px; }
.bradius6 { border-radius: 6px; }
.bradius7 { border-radius: 7px; }

.block { display: block; }
.ovhide { overflow: hidden; }

.ico_new, .ico_hot, .ico_more { background-image: url(http://img2.cache.netease.com/f2e/common/images/icon_2013.png); background-repeat: no-repeat; }
.ico_new { padding: 5px 22px 0 0; background-position: right -90px; }
.ico_hot { padding: 5px 20px 0 0; background-position: right -47px; }
.ico_more { padding-right: 18px; background-position: right 0; }

.ma2, .mt2 { margin-top: 2px; }
.ma2, .mb2 { margin-bottom: 2px; }
.ma2, .ml2 { margin-left: 2px; }
.ma2, .mr2 { margin-right: 2px; }

.ma4, .mt4 { margin-top: 4px; }
.ma4, .mb4 { margin-bottom: 4px; }
.ma4, .ml4 { margin-left: 4px; }
.ma4, .mr4 { margin-right: 4px; }

.ma6, .mt6 { margin-top: 6px; }
.ma6, .mr6 { margin-right: 6px; }
.ma6, .mb6 { margin-bottom: 6px; }
.ma6, .ml6 { margin-left: 6px; }
.ma8, .mt8 { margin-top: 8px; }
.ma8, .mr8 { margin-right: 8px; }
.ma8, .mb8 { margin-bottom: 8px; }
.ma8, .ml8 { margin-left: 8px; }
.ma10, .mt10 { margin-top: 10px; }
.ma10, .mr10 { margin-right: 10px; }
.ma10, .mb10 { margin-bottom: 10px; }
.ma10, .ml10 { margin-left: 10px; }
.ma12, .mt12 { margin-top: 12px; }
.ma12, .mr12 { margin-right: 12px; }
.ma12, .mb12 { margin-bottom: 12px; }
.ma12, .ml12 { margin-left: 12px; }

.ma15, .mt15 { margin-top: 15px !important; }
.ma15, .mr15 { margin-right: 15px; }
.ma15, .mb15 { margin-bottom: 15px; }
.ma15, .ml15 { margin-left: 15px; }

.w10 { width: 10px !important; }
.w20 { width: 20px !important; }
.w30 { width: 30px !important; }
.w40 { width: 40px !important; }
.w50 { width: 50px !important; }
.w60 { width: 60px !important; }
.w70 { width: 70px !important; }
.w80 { width: 80px !important; }
.w90 { width: 90px !important; }
.w100 { width: 100px !important; }
.w110 { width: 110px !important; }
.w120 { width: 120px !important; }
.w130 { width: 130px !important; }
.w140 { width: 140px !important; }
.w150 { width: 150px !important; }
.w160 { width: 160px !important; }
.w170 { width: 170px !important; }
.w180 { width: 180px !important; }
.w190 { width: 190px !important; }
.w200 { width: 200px !important; }
.w210 { width: 210px !important; }
.w220 { width: 220px !important; }
.w230 { width: 230px !important; }
.w240 { width: 240px !important; }
.w250 { width: 250px !important; }
.w260 { width: 260px !important; }
.w270 { width: 270px !important; }
.w280 { width: 280px !important; }
.w290 { width: 290px !important; }
.w300 { width: 300px !important; }
.w310 { width: 310px !important; }
.w320 { width: 320px !important; }
.w330 { width: 330px !important; }
.w350 { width: 350px !important; }
.w400 { width: 400px !important; }
.w450 { width: 450px !important; }
.w500 { width: 500px !important; }
.w550 { width: 550px !important; }
.wp99 { width: 99% !important; }
.wp100 { width: 100% !important; }
.h50 { height: 20px; min-height: 20px; }
.h50 { height: 50px; min-height: 50px; }
.h70 { height: 70px; }
.h80 { height: 80px; }
.h100 { height: 100px; }
.h120 { height: 120px; }
.h150 { height: 150px; }

.center { text-align: center; }
.tright, .tright input { text-align: right !important; }
.tleft { text-align: left !important; }
.p2, .pt2 { padding-top: 2px !important; }
.p2, .pb2 { padding-bottom: 2px !important; }
.p2, .pl2 { padding-left: 2px !important; }
.p2, .pr2 { padding-right: 2px !important; }

.p5, .pt5 { padding-top: 5px !important; }
.p5, .pb5 { padding-bottom: 5px !important; }
.p5, .pl5 { padding-left: 5px !important; }
.p5, .pr5 { padding-right: 5px !important; }

.p6, .pt6 { padding-top: 6px !important; }
.p6, .pb6 { padding-bottom: 6px !important; }
.p6, .pl6 { padding-left: 6px !important; }
.p6, .pr6 { padding-right: 6px !important; }

.p8, .pt8 { padding-top: 8px !important; }
.p8, .pb8 { padding-bottom: 8px !important; }
.p8, .pl8 { padding-left: 8px !important; }
.p8, .pr8 { padding-right: 8px !important; }

.p10, .pt10 { padding-top: 10px !important; }
.p10, .pb10 { padding-bottom: 10px !important; }
.p10, .pl10 { padding-left: 10px !important; }
.p10, .pr10 { padding-right: 10px !important; }

.bred { border: 1px solid red; }
.bwhite { border: 1px solid white; }

.bgBlue { background-color: #D0EEFF; }
.bgRed { background: red; }
.bgWhite { background: white !important; }
.bgYellow { background: #ffe200; }
.bgcBlue { background-color: #D0EEFF; }
.bgf0f0f0 { background-color: #f0f0f0; }

.btn { margin: 0 auto; display: block; }
.btnRed { background: red; color: white; border: 0; }
.btnBig { width: 95%; text-align: center; height: 50px; line-height: 50px; font-size: 18px; }
.btnMid { width: 65%; text-align: center; height: 40px; line-height: 40px; font-size: 18px; }

.selectItem a { height: 20px; display: block; border: 1px solid #efefef; padding: 2px 8px 2px 8px; font-size: 12px; overflow: hidden; line-height: 20px; }

    .selectItem a.on { border: 1px solid #e4393c; background: url(sConner.png) no-repeat right bottom; }

.fontfEn { font-family: Arial; }
.fontfYaHei { font-family: 微软雅黑; }

.lineheight22 { line-height: 22px;}
.lineheight25 { line-height: 25px;}
.lineheight30 { line-height: 30px;}

.noBorder { border: 0; }
.bordbom99d { border-bottom: 1px solid #99D3F5 }


.btn { display: inline-block; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; padding: 3px 12px; }
.btn-mini { font-size: 10px; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: #333; text-decoration: none; }
.btn:active, .btn.active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); box-shadow: inset 0 3px 5px rgba(0,0,0,.125); }

.btn.disabled, .btn[disabled], fieldset[disabled] .btn { pointer-events: none; cursor: not-allowed; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; opacity: .65; }

.btn-default { color: #333; background-color: #fff; border-color: #ccc; }
    .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { color: #333; background-color: #e6e6e6; border-color: #adadad; }

    .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { background-image: none; }
    .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active { background-color: #fff; border-color: #ccc; }
    .btn-default .badge { color: #fff; background-color: #333; }

.btn-primary { color: #fff; background-color: #428bca; border-color: #357ebd; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { color: #fff; background-color: #3071a9; border-color: #285e8e; }
    .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background-image: none; }
    .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active { background-color: #428bca; border-color: #357ebd; }
    .btn-primary .badge { color: #428bca; background-color: #fff; }

.btn-success { color: #fff; background-color: #5cb85c; border-color: #4cae4c; }

    .btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success { color: #fff; background-color: #449d44; border-color: #398439; }
    .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success { background-image: none; }
    .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active { background-color: #5cb85c; border-color: #4cae4c; }
    .btn-success .badge { color: #5cb85c; background-color: #fff; }

.btn-info { color: #fff; background-color: #5bc0de; border-color: #46b8da; }
    .btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info { color: #fff; background-color: #31b0d5; border-color: #269abc; }
    .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info { background-image: none; }
    .btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active { background-color: #5bc0de; border-color: #46b8da; }
    .btn-info .badge { color: #5bc0de; background-color: #fff; }

.btn-warning { color: #fff; background-color: #f0ad4e; border-color: #eea236; }
    .btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning { color: #fff; background-color: #ec971f; border-color: #d58512; }
    .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning { background-image: none; }
    .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active { background-color: #f0ad4e; border-color: #eea236; }
    .btn-warning .badge { color: #f0ad4e; background-color: #fff; }
.btn-danger { color: #fff; background-color: #d9534f; border-color: #d43f3a; }
    .btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger { color: #fff; background-color: #c9302c; border-color: #ac2925; }
    .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger { background-image: none; }
    .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active { background-color: #d9534f; border-color: #d43f3a; }
    .btn-danger .badge { color: #d9534f; background-color: #fff; }
.btn-link { font-weight: 400; color: #428bca; border-radius: 0; }
    .btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
        .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active { border-color: transparent; }
            .btn-link:hover, .btn-link:focus { color: #2a6496; text-decoration: underline; background-color: transparent; }
            .btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus { color: #777; text-decoration: none; }
.btn-lg, .btn-group-lg > .btn { padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 6px; }
.btn-sm, .btn-group-sm > .btn { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-xs, .btn-group-xs > .btn { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-block { display: block; width: 100%; }
    .btn-block + .btn-block { margin-top: 5px; }